/* Account.css */

.account-container {
  width: 100%;
  max-width: 600px;
  border: 1px solid #1976D2;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #1976D2, #2196F3);
}

.account-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.user-info p {
  margin: 0;
  margin-bottom: 10px;
}

.user-info strong {
  font-weight: bold;
  margin-right: 5px;
}

.edit-icon {
  align-items: end;
  padding-left: 10px;
}

.span {
  display: flex;
  justify-content: space-evenly;
}
.profile-image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Esto redondeará el contenedor */
  overflow: hidden; /* Esto ocultará cualquier parte de la imagen que se salga del contenedor */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegurará que la imagen se ajuste al contenedor redondeado */
}
